<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>用户列表</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="catcoder" name="author"/>
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="/bootstrap/css/bootstrap.min.css">


  <base target="iframe"/>
</head>

<body class="">
首页
<!-- BEGIN HEADER -->
<div>

</div>
<!-- END CONTAINER -->
<script src="../static/jquery/jquery.min.js"></script>
<script src="../static/vue/vue.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/axios/axios.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<script src="../static/js/index.js"></script>


</body>
</html>


